<ion-view>

    <ion-nav-bar class="bar-assertive">
        <div class="buttons">
            <button class="button button-small live-button" ng-click="mine.goTo(model.name)"
                ng-repeat="model in mine.model">{{ model.name }}</button>
        </div>
    </ion-nav-bar>

    <ion-content>

        <ion-refresher pulling-text="下拉刷新" refreshing-text="加载中..." on-refresh="fresh()">
        </ion-refresher>



        <div class="item item-divider" style="color: green;" ng-click="mine.goToSubMore()"> + 订阅更多直播号</div>

        <div class="item-divider row " ng-if="mine.mySubs != '' ">
            <button class="col-10 button button-small button-icon icon ion-ios-minus-outline "
                ng-click="mine.isShowDelete = !mine.isShowDelete; mine.isShowEdit = false">
            </button>

            <button class="col-10 col-offset-80 button button-small button-icon  icon ion-arrow-move "
                ng-click="mine.isShowEdit = !mine.isShowEdit; mine.isShowDelete = false ">
            </button>
        </div>

        <ion-list class="list" show-delete="mine.isShowDelete" show-reorder="mine.isShowEdit"
            ng-click="mine.isShowEdit = false; mine.isShowDelete = false">

            <ion-item class="item-remove-animate item-avatar-left " ng-repeat="item in mine.mySubs"
                ng-click="mine.goToSubDetail(item.ename) ">

                <img ng-src="{{item.icon}}" alt="">
                <h3>{{ item.tname }}</h3>
                <p>{{ item.userCount + '关注' }}</p>

                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)"></ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>

        </ion-list>



    </ion-content>

</ion-view>