<ion-view view-title="话题"  class="talk-content">
    <ion-content>
        <ul class="talk-navWrapper">
            <li><a href="">问吧</a></li>
            <li><a href="">话题</a></li>
            <li><a href="">关注</a></li>
        </ul>
            <!--呵呵哈哈哈-->
        <ul class="talk-classify">
            <li><a href="">法律</a></li>
            <li><a href="">健康</a></li>
            <li><a href="">汽车</a></li>
            <li><a href="">财经</a></li>
            <li><a href="">历史</a></li>
        </ul>
        <ul class="talkList-wrapper">
            <li class="talkList" ng-repeat="obj in mine.dataArr" ng-click="mine.goToTalkDetailView(obj.expertId)">
                <div class="list-main-wrapper">
                    <img class="headImg" ng-src="{{ obj.headpicurl }}" alt="">
                    <span>{{ obj.name }} / {{ obj.title }}</span>
                    <img class="bigImg" ng-src="{{ obj.picurl }}" alt="">
                    <p>{{ obj.alias }}</p>
                </div>
                <div class="list-bottom-wrapper">
                    <span class="classification">{{ obj.classification }}</span>| <span>{{ obj.questionCount }}提问</span>
                    <div class="concern"> + 关注 </div>
                </div>

            </li>
        </ul>


    </ion-content>
</ion-view >